ul.nav {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
}

li.nav {
    float: left;
}

li a.nav{
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

li a.nav:hover {
    background-color: #111;
}

ul.story {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

li.story {
    border: 1px solid black;
    padding: 10px 0.5px;
    float: none;
    background-color: azure;
    margin-top: 10px;
    width: 50vw;
    margin-left: 25vw;
    overflow-wrap: break-word;
    word-wrap: break-word;
}

li a.story {
    padding: 14px 16px;
    color: black;
    text-decoration: none;
    size: fit-content;
}

li.story:hover {
    background-color: aquamarine;
}

li.search {
    float:right;
    margin-right: 10px;
}
input.search {
    padding: 2px 3px;
    text-decoration: none;
    margin-top: 12px;
}

.story-text {
    overflow-wrap: break-word;
    word-wrap: break-word;
}