/* Team FF: Ishraq Mahid and Michelle Lo
SoftDev
K21 - Throw Some Forking STUYLE On It/Practicing CSS
November 30th, 2021 */

body{
    font-family: "Lucida Console", monospace;
    background-color: lightgray;
}

/* Navigation Bar */
ul.nav {
    list-style-type: none;
    overflow: auto; /* specify overflow since float */
    margin: 0;
    padding: 0;
    background-color: black;
}

li.nav {
  float: left; /* block elements float next to each other */
}

li a.nav{
    display: block; /* each text is a block; with its own height, width... */
    color: lightgray;
    text-align: center;
    padding: 8px;
    text-decoration: none;
}

li a.nav:hover {
  background-color: gray;
}

/* Header */
.header {
  height: 400px;
  background-image: url("https://wc.wallpaperuse.com/wallp/22-220672_s.jpg");
  background-size: cover; /* Adjusts image so it enlargens or shrinks based on container size */
  margin: 0;
  padding: 0;
  overflow: hidden;
}

.header-text{
  text-align: center;
  padding: 150px;
  color: white;
}

/* Stories List */
ul.story {
  list-style-type: none;
  background-color: darkgray;
  margin: 0;
  padding: 0;
}

li.story {

}

li a.story {
  display: block;
  padding: 8px;
  color: black;
  text-align: center;
  text-decoration: none;
}

li.story:hover {
  background-color: white;
}

li.search {
  padding: 8px;
  float: right;
}
input.search {

}

div.story {

}

.story-text {

}

.newstory {

}

.newstory:hover {
}

.auth {

}


h1{

}

h2{
  text-align: center;
}
