body{
    background-color: lightblue;
    font-family: Arial, Helvetica, sans-serif;
}

ul.nav {
    background-color: rgba(214, 123, 210, 0.767);

}

li.nav {
    
}

li a.nav{
    color: lightgray;
    float: left;
}

li a.nav:hover {
}

ul.story {

}

li.story {

}

li a.story {

}

li.story:hover {
}

li.search {

}
input.search {

}

div.story {
}

.story-text {

}

.newstory {

}

.newstory:hover {
}

.auth {

}

h1{
    color:darkblue

}