<!---
    # Team Toast
# Owen Yaggy, Haotian Gan, Justin Morrill (Duckies: Rio, Gregory, Cinnamon)
# SoftDev
# K13
# 10-14-2021
    </--->

{% if not loggedIn %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <h1>Owen Yaggy, Haotian Gan, Justin Morrill</h1>
    <h1>Login:</h1>
    <form action="/auth" method="post">
      <p>Username:</p>
      <input type="text" name="username" />
      <p>Password:</p>
      <input type="password" name="password" />
      <input type="submit" name="sub1" />
    </form>
  </body>
</html>
{% else %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <p>You're on the home page, logged in as: {{username}}</p>
    <p><a href="/intro">Log Out</a></p>
  </body>
</html>
{% endif %}
