<!---
# Team Toast
# Owen Yaggy, Haotian Gan, Justin Morrill (Duckies: Rio, Gregory, Cinnamon)
# SoftDev
# K13
# 10-14-2021 
--->
{% if error == True %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <p>Error: {{errorMessage}}</p>
    <p><a href="/">Return to home page</a></p>
  </body>
</html>
{% else %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <b>Greetings, {{username}}!</b>
    <p>You accessed this with a post request</p>
    <p><a href="/index">Log Out</a></p>
  </body>
</html>
{% endif %}
