<!DOCTYPE html>
<html lang="en">

<head>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles/stylesheet.css') }}">
    <meta charset="UTF-8">
    <title>Add Your Story</title>
</head>

<body>
    <p>Press <b>confirm</b> to confirm that you would like to post this story</p>
    <p>Need to make changes? Use your browser's <b>back</b> button.</p>
    <h2 class="story-text">{{ title }}</h2>
    <p class="story-text">{{ story }}</p>
    <form action="/new" method="post">
        <input type="hidden" name="title" value="{{ title }}">
        <input type="hidden" name="story_text" value="{{ story }}">
        <input type="submit" name="submit" value="Confirm">
    </form>
</body>

</html>
