<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Edit Page</title>
</head>
<body>
    <h1>Story Editing</h1>
    <h3>You have chosen to edit a story that currently ends as follows:</h3>
    <p>
        {{ latest }}
    </p>
    <h3>Please enter your update to the story below:</h3>
    <form action="/edit"> <!--- sends a get request to /_____ -->
        <textarea name="text1" cols="40" rows="5"></textarea>
        <br>
        <input type="submit" name="sub1">
    </form>

</body>
</html>