<!DOCTYPE html>
<html lang="en">
<style>
    ul.nav {
        list-style-type: none;
        margin: 0;
        padding: 0;
        overflow: hidden;
        background-color: #333;
    }

    li.nav {
        float: left;
    }

    li a.nav{
        display: block;
        color: white;
        text-align: center;
        padding: 14px 16px;
        text-decoration: none;
    }

    li a.nav:hover {
        background-color: #111;
    }
</style>
<head>
    <ul class="nav">
        {% if logged_in %}
            <li class="nav"><a class="nav" href="/">Home</a></li>
            <li class="nav"><a class="nav" href="/logout">Logout</a></li>
        {% else %}
            <li class="nav"><a class="nav" href="/">Home</a></li>
            <li class="nav"><a class="nav" href="/login">Login</a></li>
            <li class="nav"><a class="nav" href="/register">Register</a></li>
        {% endif %}
    </ul>
    <meta charset="UTF-8">
    <title>Edit Page</title>
</head>
<body>
    <h1>Story Editing</h1>
    <h3>You have chosen to edit the story titled "{{title}}" which currently ends as follows:</h3>
    <p>
        {{ latest }}
    </p>
    <h3>Please enter your update to the story below:</h3>
    <form action="/edit" method="POST"> <!--- sends a get request to /_____ -->
        <textarea name="contribution" cols="40" rows="5"></textarea>
        <br>
        <input type="submit" name="sub1">
    </form>

</body>
</html>
