<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
    <meta charset="utf-8">
    <title>Welcome!</title>
</head>

<body>
    <h1>Hello World!</h1>

    <h2><a href="/new">New Story</a></h2>
    <h2>Add to Stories</h2>
    <ul>
        {%for id, title in edtiable%}
            <li><a href="/{{id}}/edit">{{title}}</a></li>
        {%endfor%}
    </ul>
    <h2>View Full stories</h2>
    <ul>
        {%for id, title in edtiable%}
            <li><a href="/{{id}}">{{title}}</a></li>
        {%endfor%}
    </ul>

    <div>
        <form method = "post" action="/logout">
            <input type="submit" name="logout" value="Log Out">
        </form>
    </div>
</body>

</html>
