<!DOCTYPE html>
<html lang="en" dir="ltr">
<head>
    <link rel="stylesheet" type="text/css" href="../styles/stylesheet.css" />
    <ul class="nav">
        <li class="nav"><a class="nav" href="/login">Login</a></li>
        <li class="nav"><a class="nav" href="/register">Register</a></li>
    </ul>
    <meta charset="utf-8">
    <h1>Remembered Chargers: Lewis Cass, Aryaman Goenka, Oscar Wang, Owen Yaggy</h1>
    <h1>Softdev</h1>
    <h1>P00 - Storytelling Project</h1>
    <h1>2021-11-12</h1>
    
</head>

<body>
    <h1>Welcome!</h1>
    <h2>Info</h2>
    <p>this is where we talk about our website and how it works and stuff</p>
</body>

</html>
