<!DOCTYPE html>
<html lang="en" dir="ltr">
<head>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles/stylesheet.css') }}">
    <ul class="nav">
        <li class="nav"><a class="nav" href="/login">Login</a></li>
        <li class="nav"><a class="nav" href="/register">Register</a></li>
    </ul>
    <meta charset="utf-8">
    <div class="header">
      <div class="header-text">
        <h1> STORYTELLING PROJECT <h1>
      </div>
    </div>
    <h2>Credentials</h2>
    <p>
        Remembered Chargers: Lewis Cass, Aryaman Goenka, Oscar Wang, Owen Yaggy <br>
        Softdev <br>
        P00 - Storytelling Project <br>
        2021-11-12 <br>
        Edited by Team FF: Michelle Lo and Ishraq Mahid
    </p>

</head>

<body>
    <h2>Info</h2>
    <p>
        Community-based storytelling project in which a user can register for an account, then contribute to, create, and view stories. <br> Users can create a new story and post it for others to add to or add to another story, only being able to view the last entry rather than the whole text. <br> They can also view the full text of stories they have already contributed to.
    </p>
    <p>
        Login or register above to get started
    </p>

</p>
</body>

</html>
