<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
    <meta charset="utf-8">
    <h1>Remembered Chargers: Lewis Cass, Aryaman Goenka, Oscar Wang, Owen Yaggy</h1>
    <h4>Softdev</h4>
    <h4>P00 - Storytelling</h4>
    <h4>Due date</h4>
</head>

<body>
    <h1>Welcome!</h1>
    <h2>Info</h2>
    <p>this is where we talk about our website and how it works and stuff</p>
    <center>
        <h2><a href="/login">Login</a></h2>
        <h2><a href="/register">Register</a></h2>
    </center>
</body>

</html>
