<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
    <meta charset="utf-8">
    <title></title>
</head>

<body>
    {% if error %}
    <p style="color: red">Sorry, username or password incorrect</p>
    {% endif %}
    <div>
        <form method="post" action="/login">
            <p>Username</p>
            <input type="text" name="username" placeholder="Username">
            <p>Password</p>
            <input type="password" name="password" placeholder="Password">
            <input type="submit" name="authenticate" value="Log In">
        </form>
    </div>
</body>

</html>
