<!DOCTYPE html>
<html lang="en">
<style>
    ul.nav {
        list-style-type: none;
        margin: 0;
        padding: 0;
        overflow: hidden;
        background-color: #333;
    }

    li.nav {
        float: left;
    }

    li a.nav{
        display: block;
        color: white;
        text-align: center;
        padding: 14px 16px;
        text-decoration: none;
    }

    li a.nav:hover {
        background-color: #111;
    }
</style>
<head>
    <ul class="nav">
        {% if logged_in %}
            <li class="nav"><a class="nav" href="/">Home</a></li>
            <li class="nav"><a class="nav" href="/logout">Logout</a></li>
        {% else %}
            <li class="nav"><a class="nav" href="/">Home</a></li>
            <li class="nav"><a class="nav" href="/login">Login</a></li>
            <li class="nav"><a class="nav" href="/register">Register</a></li>
        {% endif %}
    </ul>
    <meta charset="UTF-8">
    <title>Create New Story</title>
</head>

<body>
    <h1>Create a New Story</h1>
    <form action="/new" method="post">
        {% if message %}
        <p style="color:red">{{ message }}</p>
        {% endif %}

        <h3>Please name your story:</h3>
        <input type="text" name="title" value="{% if title %}{{ title }}{% endif %}">
        <h3>Once upon a time…</h3>
        <p>Write the beginning of your story below! Other users can add their own parts later.</p>
        <textarea name="story_text" cols="40" rows="5">{% if story %}{{ story }}{% endif %}</textarea>
        <br>
        <input type="submit" name="submit" value="Add Story">
    </form>
</body>

</html>
