<!DOCTYPE html>
<html lang="en">
    <head>
        <link rel="stylesheet" href="{{ url_for('static', filename='styles/stylesheet.css') }}">
        <ul class="nav">
            <li class="nav"><a class="nav" href="/">Home</a></li>
            <li class="nav"><a class="nav" href="/logout">Logout</a></li>
        </ul>
        <meta charset="UTF-8">
        <title>Create New Story</title>
    </head>

    <body>
        <h1>Create a New Story</h1>
        <form action="/new" method="post">
            {% if message %}
            <p style="color:red">{{ message }}</p>
            {% endif %}

            <h3>Please name your story:</h3>
            <input type="text" name="title" value="{% if title %}{{ title }}{% endif %}">
            <h3>Once upon a time…</h3>
            <p>Write the beginning of your story below! Other users can add their own parts later.</p>
            <textarea name="story_text" cols="40" rows="5">{% if story %}{{ story }}{% endif %}</textarea>
            <br>
            <input type="submit" name="submit" value="Add Story">
        </form>
    </body>
</html>
