<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Create New Story</title>
</head>
<body>
    <h1>Create a New Story</h1>
    <form action="/confirm_add">
        <h3>Please name your story:</h3>
        <input type="text" name="title">
        <h3>Once upon a time…</h3>
        <p>Write the beginning of your story below! Other users can add their own parts later.</p>
        <textarea name="story_text" cols="40" rows="5"></textarea>
        <br>
        <input type="submit" name="sub1" value="Add Story">
    </form>
</body>
</html>