<!DOCTYPE html>
<html lang="en" dir="ltr">
<head>
    <link rel="stylesheet" type="text/css" href="../styles/stylesheet.css" />
    <ul class="nav">
        {% if logged_in %}
            <li class="nav"><a class="nav" href="/">Home</a></li>
            <li class="nav"><a class="nav" href="/logout">Logout</a></li>
        {% else %}
            <li class="nav"><a class="nav" href="/">Home</a></li>
            <li class="nav"><a class="nav" href="/login">Login</a></li>
            <li class="nav"><a class="nav" href="/register">Register</a></li>
        {% endif %}
    </ul>
    <meta charset="utf-8">
    <title>Register</title>
</head>

<body>
    <center>
        <h1>Create a New Account</h1>
    </center>
    <center>
        <div>
            {% if error_message %}
            <p style="color:red">{{ error_message }}</p>
            {% endif %}
            <form method="post" action="/register">
                <input type="text" name="new_username" placeholder="Username">
                <br>
                <input type="password" name="new_password" placeholder="Password">
                <br>
                <input type="password" name="confirm_password" placeholder="Confirm Passowrd">
                <br>
                <input type="submit" name="submit_new_user" value="Register">
                <br>
            </form>
        </div>
    </center>
</body>

</html>
