<!DOCTYPE html>
<html lang="en" dir="ltr">
<style>
    ul.nav {
        list-style-type: none;
        margin: 0;
        padding: 0;
        overflow: hidden;
        background-color: #333;
    }

    li.nav {
        float: left;
    }

    li a.nav{
        display: block;
        color: white;
        text-align: center;
        padding: 14px 16px;
        text-decoration: none;
    }

    li a.nav:hover {
        background-color: #111;
    }
</style>
<head>
    <ul class="nav">
        {% if logged_in %}
            <li class="nav"><a class="nav" href="/">Home</a></li>
            <li class="nav"><a class="nav" href="/logout">Logout</a></li>
        {% else %}
            <li class="nav"><a class="nav" href="/">Home</a></li>
            <li class="nav"><a class="nav" href="/login">Login</a></li>
            <li class="nav"><a class="nav" href="/register">Register</a></li>
        {% endif %}
    </ul>
    <meta charset="utf-8">
    <title>Register</title>
</head>

<body>
    <center>
        <h1>Create a New Account</h1>
    </center>
    <center>
        <div>
            {% if error_message %}
            <p style="color:red">{{ error_message }}</p>
            {% endif %}
            <form method="post" action="/register">
                <input type="text" name="new_username" placeholder="Username">
                <br>
                <input type="password" name="new_password" placeholder="Password">
                <br>
                <input type="password" name="confirm_password" placeholder="Confirm Passowrd">
                <br>
                <input type="submit" name="submit_new_user" value="Register">
                <br>
            </form>
        </div>
    </center>
</body>

</html>
